[req]
distinguished_name = req_distinguished_name
prompt = no
[req_distinguished_name]
countryName = CA
stateOrProvinceName = Ontario
localityName = Ottawa
organizationName = Feenics
commonName = CertAuthority

